<h1>Listing mediawikiservers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Baseurl</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mediawikiservers.each do |mediawikiserver| %>
  <tr>
    <td><%= mediawikiserver.name %></td>
    <td><%= mediawikiserver.baseurl %></td>
    <td><%= link_to 'Show', mediawikiserver %></td>
    <td><%= link_to 'Edit', edit_mediawikiserver_path(mediawikiserver) %></td>
    <td><%= link_to 'Destroy', mediawikiserver, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mediawikiserver', new_mediawikiserver_path %>
