<p id="notice"><%= notice %></p>

<p>
  <b>Geonamescode:</b>
  <%= @garmin_id.GeoNamesCode %>
</p>

<p>
  <b>Garminid:</b>
  <%= @garmin_id.GarminID %>
</p>

<p>
  <b>Garminfeaturedescription:</b>
  <%= @garmin_id.GarminFeatureDescription %>
</p>

<p>
  <b>Key:</b>
  <%= @garmin_id.KEY %>
</p>

<p>
  <b>Value:</b>
  <%= @garmin_id.VALUE %>
</p>

<p>
  <b>Code:</b>
  <%= @garmin_id.Code %>
</p>

<p>
  <b>Feature:</b>
  <%= @garmin_id.Feature %>
</p>

<p>
  <b>Description:</b>
  <%= @garmin_id.Description %>
</p>

<p>
  <b>Group:</b>
  <%= @garmin_id.Group %>
</p>

<p>
  <b>Groupname:</b>
  <%= @garmin_id.GroupName %>
</p>

<p>
  <b>Comments:</b>
  <%= @garmin_id.Comments %>
</p>


<%= link_to 'Edit', edit_garmin_id_path(@garmin_id) %> |
<%= link_to 'Back', garmin_ids_path %>
