<%= form_for(@gtfs_stop_time) do |f| %>
  <% if @gtfs_stop_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gtfs_stop_time.errors.count, "error") %> prohibited this gtfs_stop_time from being saved:</h2>

      <ul>
      <% @gtfs_stop_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gtfs_source_id %><br />
    <%= f.text_field :gtfs_source_id %>
  </div>
  <div class="field">
    <%= f.label :trip_id %><br />
    <%= f.text_field :trip_id %>
  </div>
  <div class="field">
    <%= f.label :arrival_time %><br />
    <%= f.text_field :arrival_time %>
  </div>
  <div class="field">
    <%= f.label :departure_time %><br />
    <%= f.text_field :departure_time %>
  </div>
  <div class="field">
    <%= f.label :stop_id %><br />
    <%= f.text_field :stop_id %>
  </div>
  <div class="field">
    <%= f.label :stop_sequence %><br />
    <%= f.text_field :stop_sequence %>
  </div>
  <div class="field">
    <%= f.label :pickup_type %><br />
    <%= f.text_field :pickup_type %>
  </div>
  <div class="field">
    <%= f.label :drop_off_type %><br />
    <%= f.text_field :drop_off_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
