<%= form_for(@gtfs_shape) do |f| %>
  <% if @gtfs_shape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gtfs_shape.errors.count, "error") %> prohibited this gtfs_shape from being saved:</h2>

      <ul>
      <% @gtfs_shape.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shape_id %><br />
    <%= f.text_field :shape_id %>
  </div>
  <div class="field">
    <%= f.label :shape_pt_lat %><br />
    <%= f.text_field :shape_pt_lat %>
  </div>
  <div class="field">
    <%= f.label :shape_pt_lon %><br />
    <%= f.text_field :shape_pt_lon %>
  </div>
  <div class="field">
    <%= f.label :shape_pt_sequence %><br />
    <%= f.text_field :shape_pt_sequence %>
  </div>
  <div class="field">
    <%= f.label :shape_dist_traveled %><br />
    <%= f.text_field :shape_dist_traveled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
