<%= form_for(@gtfs_calendar_date) do |f| %>
  <% if @gtfs_calendar_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gtfs_calendar_date.errors.count, "error") %> prohibited this gtfs_calendar_date from being saved:</h2>

      <ul>
      <% @gtfs_calendar_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service_id %><br />
    <%= f.text_field :service_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :exception_type %><br />
    <%= f.text_field :exception_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
