<%# javascript_include_tag "openlayers/build/OpenLayers.js" %>
<%=javascript_include_tag "openlayers/lib/OpenLayers.js" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Mediawikiserver:</b>
  <%= @mediawikiimagefile.mediawikiserver_id %>
</p>

<p>
  <b>Name:</b>
  <%= @mediawikiimagefile.name %>
</p>

<a href="<%=  @mediawikiimagefile.imageurl %>">
<img src="<%= @mediawikiimagefile.imagethumb %>"></img>
</a>

<h2>1. Move the marker to where the photo is:</h2>
<div id="map" style="width: 500px; height: 300px; border: 1px solid black">
</div>

<script>

  var map = new OpenLayers.Map("map");

  var osmLayer = new OpenLayers.Layer.OSM();
  map.addLayer(osmLayer);
  map.addControl(new OpenLayers.Control.LayerSwitcher());
  var vectorLayer = new OpenLayers.Layer.Vector("Vector Layer");
  var pnt = new OpenLayers.LonLat(<%= @point.longitude %>,<%= @point.latitude %>);
  proj = new OpenLayers.Projection("EPSG:4326");
  
  pnt.transform(proj, map.getProjectionObject());
  map.setCenter(pnt, 15);

  var gpnt = new OpenLayers.Geometry.Point(pnt.lon,pnt.lat);
  var p = new OpenLayers.Feature.Vector(gpnt,          {type: 5}          );
  vectorLayer.addFeatures(p);

  function dragComplete(feature,pixel) {
    var x = feature.geometry.x;
    var y = feature.geometry.y;   
    var featureClone = feature.clone();
    var point = featureClone.geometry;
    point.transform(map.getProjectionObject(), proj);
    $('point_longitude').value = point.x;
    $('point_latitude').value = point.y;
    //alert(point.x + " " + point.y);

    // you'd think getting the lat/lon wouldn't be this fucking difficult, wouldn't you?
  }

  var dragController = new OpenLayers.Control.DragFeature(
    vectorLayer, {'onComplete':
    dragComplete});

  map.addControl(dragController);
  dragController.activate();
  map.addLayer(vectorLayer);


</script>

<%= form_for(@point, :url => { :action => "create_geotag" } ) do |f| %>

<div class="field">
  <%= f.label :id %><br />
  <%= f.text_field :id %>
</div>

<div class="field">
  <%= f.label :latitude %><br />
  <%= f.text_field :latitude %>
</div>

<div class="field">
  <%= f.label :longitude %><br />
  <%= f.text_field :longitude %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>

<% if @point.id != nil %> 
<%= link_to "point", point_path(@point) %> <p>
<% end  %> 


<p>
  <b>Imageurl:</b>
  <%= @mediawikiimagefile.imageurl %>
</p>

<p>
  <b>Imagethumb:</b>
  <%= @mediawikiimagefile.imagethumb %>
</p>
<p>

<p>
  <b>Description:</b>
  <%= @mediawikiimagefile.description %>
</p>

<p>
  <b>Filetype:</b>
  <%= @mediawikiimagefile.filetype %>
</p>


<%= link_to 'Edit', edit_mediawikiimagefile_path(@mediawikiimagefile) %> |
<%= link_to 'Back', mediawikiimagefiles_path %>
