<h1>Listing mediawikiimagefiles</h1>

<table>
  <tr>
    <th>Mediawikiserver</th>
    <th>Name</th>
    <th>Description</th>
    <th>Filetype</th>
    <th>Imageurl</th>
    <th>Imagethumb</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mediawikiimagefiles.each do |mediawikiimagefile| %>
  <tr>
    <td><%= mediawikiimagefile.mediawikiserver_id %></td>
    <td><%= mediawikiimagefile.name %></td>
    <td><%= mediawikiimagefile.description %></td>
    <td><%= mediawikiimagefile.filetype %></td>
    <td><%= mediawikiimagefile.imageurl %></td>
    <td><%= mediawikiimagefile.imagethumb %></td>
    <td><%= link_to 'Show', mediawikiimagefile %></td>
    <td><%= link_to 'Edit', edit_mediawikiimagefile_path(mediawikiimagefile) %></td>
    <td><%= link_to 'Destroy', mediawikiimagefile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mediawikiimagefile', new_mediawikiimagefile_path %>
