<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><%= f.label :user_id %><br /> <%= f.text_field :user_id %>  </div>
  <div class="field"><%= f.label :visible %><br /> <%= f.text_field :visible %>  </div>
  <div class="field"><%= f.label :version %><br /> <%= f.text_field :version %>  </div>
  <div class="field"><%= f.label :created_at %><br /> <%= f.text_field :created_at %>  </div>
  <div class="field"><%= f.label :updated_at %><br /> <%= f.text_field :updated_at %>  </div>

  <div class="tags">
    <h3>tags</h3>
    <% for tag in @route.route_tags %>
    <div id="tag">
      id: <%= tag.id %>
      key: <%= tag.key %>
      value: <%= tag.value %>
      <%= link_to ('Show',route_tags_path ) 	     	     %>
      <%= link_to 'Edit', edit_route_tag_path(tag) %> 
      <%= link_to 'Destroy', tag, :confirm => 'Are you sure?', :method => :delete             %>
    </div>    
    <% end %>
    <%= link_to 'New Tag', new_route_tag_path, :route_id => @route.id %>
  </div>

  <h3>route points</h3>
    <% for point in @route.route_points %>
    <div id="point">
      point:   <%= point.point_id %>
      route:   <%= point.route_id %>
      version: <%= point.version %>
      <%= link_to ('Show',route_points_path ) 	     	     %>
      <%= link_to 'Edit', edit_route_point_path(point) %> 
      <%= link_to 'Destroy', point, :confirm => 'Are you sure?', :method => :delete             %>
    </div>    
    <% end %>
    <%= link_to 'New Route Point', new_route_point_path, :route_id => @route.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
