<%= form_for(@route_tag) do |f| %>
  <% if @route_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route_tag.errors.count, "error") %> prohibited this route_tag from being saved:</h2>

      <ul>
      <% @route_tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <b>be careful editing this field</b>
    <%= f.label :route_id %><br />
    <%= f.text_field :route_id %>
  </div>

  <div class="field">
    <b>be careful editing this field</b>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>

  <div class="field">
    <b>be careful editing this field</b>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
